@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@font-face {
    font-family: 'iran';
    src: url(../font/5c53f1a72f61b5b51e2ea79a22ebc38b.eot);
    src: url(../font/5c53f1a72f61b5b51e2ea79a22ebc38b.ttf);
    src: url(../font/5c53f1a72f61b5b51e2ea79a22ebc38b.woff);
    src: url(../font/5c53f1a72f61b5b51e2ea79a22ebc38b.woff2);
}

:root{
    --green:#f53e4f;
    --dark-color:#eb6774;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'iran', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--black);
}
section {
    padding: 3rem 3rem;
}
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}
.heading::before {
    content: '';
    position: absolute;
    top: 50%;right: 0;
    transform: translateY(-50%);
    width: 100%;
    height:0.1rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}
.heading span {
    font-size: 3rem;
    padding: 0.5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover {
    background: var(--dark-color);
}
.header .header-1 {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-1 .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .header-1 .logo i{
    color: var(--green);
}
.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}
.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}
.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .header-1 .search-form label:hover {
    color: var(--green);
}
.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}
#search-btn {
    display: none;
}
.header .header-2 {
    background: var(--green);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-2 .support {
    position: absolute;
    right: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: var(--border);
    border-radius: 0.5rem;
}
.header .header-2 .support i {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem;
}
.header .header-2 .support a{
    text-align: center;
    color: #444;
    font-size: 2rem;
    padding-right: 0.2rem;
    padding-left: 1rem;
    letter-spacing: 0.2rem;
}
.header .header-2 .navbar {
    text-align: center;
}
.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.5rem;
    font-size: 1.7rem;
}
.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}
.header .header-2.active {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
}
.bottom-navbar a {
    font-size: 2.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
}
.bottom-navbar a:hover {
    background: var(--dark-color);
}
.basket-contaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #fff;
    border-radius: 0.5rem;
    top: 10%; right: -100%;
    z-index: 100000;
}
.basket-contaner.active {
    right: 0;
}
.basket-contaner .h-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem;
}
.basket-contaner .basket-content .sefaresh {
    padding-bottom: 3rem;
    border-bottom: var(--border);
}
.basket-contaner .basket-content .sefaresh i {
    font-size: 2rem;
    line-height: normal;
    margin-right: 3rem;
    cursor: pointer;
}
.basket-contaner .basket-content .sefaresh i .fa-plus-circle {
    color: var(--green);
}
.basket-contaner .basket-content .sefaresh .sefaresh-1 {
    display: flex;
}
.basket-contaner .basket-content .sefaresh .sefaresh-2 {
    display: flex;
}
.basket-contaner .basket-content .sefaresh h2 {
    text-align: start;
    padding-bottom: 2rem;
}
.basket-contaner .basket-content .sefaresh span {
    margin-right: 2rem;
    color: var(--green);
}
.basket-contaner .basket-content .sefaresh a {
    margin-right: 2rem;
    color: red;
}
.basket-contaner .basket-content .pric {
    font-size: 1.5rem;
    padding: 2rem;
}
.basket-contaner .basket-content .pric p {
    color: var(--black);
    padding: 0.5rem;
}
.basket-contaner .btn-btn {
    padding: 2rem;

}



.basket-contaner #close-shopping-btn {
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,2555,0.9);
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}
.login-form-container.active {
    right: 0;
}
.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}
.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}
.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}
.login-form-container form .box {
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}
.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}
.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}
.login-form-container form p {
    padding-top: 0.8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}
.login-form-container form p a {
    color: var(--green);
    text-decoration: underline;
}
.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}
.home {
    background: url(../../public/image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.home .row .content {
    flex: 1 1 42rem;
}
.home .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}
.home .row .books-slider a img {
    height: 25rem;
}
.home .row .books-slider a:hover img {
    transform: scale(0.9);
}
.home .row .books-slider .stand {
    width: 100%;
    margin-top: -2rem;
}
.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}
.home .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
}
.icons-container  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.icons-container .icons {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2rem 0;
}
.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--green);
}
.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}
.featured .featured-slider .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
}
.featured .featured-slider .box:hover {
    border: var(--border-hover);
}
.featured .featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}
.featured .featured-slider .box .image img {
    height: 25rem;
}
.featured .featured-slider .box:hover .image {
    transform: translateY(6rem);
}
.featured .featured-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}
.featured .featured-slider .box:hover .icons{
    transform: translateY(0);
}
.featured .featured-slider .box .icons a {
    color: var(--black);
    font-size: 2rem;
    padding:1.3rem 1.5rem;
}
.featured .featured-slider .box .icons a:hover {
    background: var(--green);
    color: #fff;
}
.featured .featured-slider .box .content {
    background: #eee;
    padding: 1.5rem;
}
.featured .featured-slider .box .content h3 {
    font-size: 1.5rem;
    color: var(--black);
}
.featured .featured-slider .box .content .price {
    font-size: 2rem;
    color: var(--black);
    padding-top: 1rem;
}
.featured .featured-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}
.swiper-button-next,
.swiper-button-prev {
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

.newesletter {
    background: url(../../public/image/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.newesletter form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}
.newesletter form h3 {
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: 0.5rem;
    font-weight: normal;
}
.newesletter form .box {
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: 0.5rem;
    text-transform: none;
}

.arrivals .arrivals-slider .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
    border: var(--border);
    border-radius: 0.5rem;
    margin:0.5rem 0.01rem;
}
.arrivals .arrivals-slider .box:hover {
    border: var(--border-hover);
}
.arrivals .arrivals-slider .box .image img {
    height: 15rem;
}

.arrivals .arrivals-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}
.arrivals .arrivals-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.arrivals .arrivals-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}
.arrivals .arrivals-slider .box .content .stars i {
    font-size: 1.5rem;
    color: var(--green);

}
.deal {
    background: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.deal .content {
    flex: 1 1 42rem;
}
.deal .image {
    flex: 1 1 42rem;
}
.deal .image img {
    width: 100%;
}
.deal .content h3 {
    color: var(--green);
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.deal .content h1 {
    color: var(--black);
    font-size: 4rem;
}
.deal .content p {
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.reviews .reviews-slider .box {
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}
.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
}
.reviews .reviews-slider .box img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.reviews .reviews-slider .box h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: 0 5rem;
}
.reviews .reviews-slider .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 1rem;
    line-height: 2;
}
.reviews .reviews-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--green);
    padding-bottom: 3rem;
}
.blogs .blogs-slider .box {
    margin: 2rem 0;
    border: var(--border);
    border-radius: 0.5rem;
}
.blogs .blogs-slider .box:hover {
    border: var(--border-hover);
}
.blogs .blogs-slider .box .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.blogs .blogs-slider .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blogs .blogs-slider .box:hover .image img {
    transform: scale(1.1);
}
.blogs .blogs-slider .box .content {
    padding: 1.5rem;
}
.blogs .blogs-slider .box .content h3 {
    text-align: center;
    font-size: 2rem;
    color: var(--black);
}
.blogs .blogs-slider .box .content p {
    font-size: 1.2rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.download-container {
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.download-container .content {
    display: flex;
    align-items: center;
}
.download-container .content i {
    color: #fff;
    font-size: 2.5rem;
}
.download-container .content h2 {
    color: #fff;
    font-size: 2.5rem;
    padding-right: 2rem;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;

}
.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box a i {
    color: var(--green);
    padding-left: 0.5rem;
}
.footer .box-container .box a:hover i {
    padding-left: 2rem;
}
.footer .box-container .box .map {
    width: 100%;
}
.footer .share {
    align-items: center;
    padding: 1rem 0;
    text-align: center;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--green);
    margin:0 0.3rem;
    border-radius: 50%;
}
.footer .share a:hover {
    background: var(--black);
}
.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}
.footer .credit span a {
    font-family: 'iran';
    color: var(--green);
}


/*=================================POP -UP =====================*/
.mwsModal {
	text-align:center;
	font-size:12px;
    position: fixed;
    z-index: 100000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.mwsModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: var(--border);
    width: 50%;
	border-radius: 8px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: left;
    font-size: 22px;
    font-weight: bold;
	margin-top:3px;
	margin-left:-5px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.mwsModal-header {
    align-items: center;
    padding: 2px 16px;
    background-color: var(--green);
    color: white;
	border-radius: 5px 5px 0 0;
	border-bottom: var(--border);
}
.mwsModal-body {
    padding: 2px 16px;
    color: var(--black);
}
.mwsModal-body p {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.mwsModal-body .btn {
    padding: 1rem;
    margin-bottom: 1.5rem;
}





























/* media  Q....*/
@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header .header-1 {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
    

}
@media (max-width:787px) {
    .deal .content {
        text-align: center;
    }
    .deal .image {
        margin-top: 2rem;
        text-align: center;
    }
}
@media (max-width:768px) {
    html {
        scroll-padding-top: 0;
    }
    body {
        padding-bottom: 6rem;
    }

    .header .header-2 {
        display: none;
    }
    .bottom-navbar {
        display: block;
    }
    .header .header-1 {
       box-shadow: var(--box-shadow);
       position: relative;
    }
    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    #search-btn {
        display: inline-block;
    }
    .header .header-1 .search-form.active{
        top: 115%;
    }
    .home .row .content {
        text-align: center;
    }
    .home .row .content h3 {
        font-size: 3.5rem;
    }
    .newesletter {
        background-position: left;
    }
    .newesletter form {
        margin-right: 0;
        max-width: 100%;
    }
}
@media (max-width:702px) {
    .download-container .content h2 {
        color: #fff;
        font-size: 1.5rem;
        padding-right: 2rem;
    }
}
@media (max-width:614px) {
    .download-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .download-container .content {
        margin-bottom: 2rem;
    }
    .download-container .content h2 {
        font-size: 2rem;
    }
}
@media (max-width:570px) {
    .mwsModal-header h2 {
        font-size: 1.5rem;
    }
}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }

}
@media (max-width:445px) {
    .icons-container .icons  {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
    
}
@media (max-width:441px) {
    .download-container .box {
        display: flex;
        flex-direction: column;
    }
    
}
@media (max-width:379px) {
    .mwsModal-header h2 {
        font-size: 1rem;
    }
    .mwsModal-header {
        height: 35px;
    }
    
}
@media (max-width:375px) {
    .newesletter form h3 {
        font-size: 2rem;
    }

}

